<div style="width: 100%;">

<div class="header-container" style="float: left;">
		<div>
			<h1 id="title"><a id="logo" href="http://barcelonajs.org"><span>BarcelonaJS</span></a></h1>
		</div>
</div>
		<div id="intro" style="float: right; background-color: blue;" ng-hide="bcnjs.special">
				<div class="calendar">
					<div class="day">{{bcnjs.date | date:'d'}}</div>
					<div class="month">{{bcnjs.date | date:'MMMM'}}</div>
				</div>
		</div>
</div>

<section class="talks clearfix">
	<center>
		<div>18.45 - 21.15 - <strong>Mobile World Centre</strong> - C/ de Fontanella, 2 - Barcelona</div>
	</center>
	<article class="talk" ng-class="{'empty':!talk.presenter}" ng-repeat="talk in bcnjs.talks">
		<hgroup>
			<h3>{{talk.title}}</h3>
			<h5 ng-show="talk.presenter">
				<a href="https://twitter.com/{{talk.presenter.username}}">{{talk.presenter.displayname}} (@{{talk.presenter.username}})</a>
			</h5>
		</hgroup>
		<p>
			<markdown ng-model="talk.description"></markdown>
		</p>
	</article>
</section>

<section class="sponsors clearfix">
	<div class="sponsor">
		<p>An event presented by:</p>
		<a class="imagelink" href="http://www.mobileworldcentre.com"><img src="/images/mwc.png" alt="Mobile World Centre" /></a>
	</div>
	<div class="sponsor">
		<p>With beverages sponsored by:</p>
		<a class="imagelink" href="http://www.estrelladamm.com"><img src="/images/estrella.png" alt="estrella" /></a>
	</div>
</section>

<div class="meta clearfix">
	<div class="metabox"><h4>beer.js</h4>At the Gran Foc, C/ Roger de Llúria, 23. After the meetup</div>
	<div class="metabox"><h4>more.js</h4>
		<a href="https://twitter.com/bcnjs" id="twitter" class="social"><span>@bcnjs</span></a>
		<a href="https://plus.google.com/communities/115705669406517039298" id="google" class="social"><span>Google+</span></a>
		<a href="/BarcelonaJS.ics" id="calendar" class="social"><span>Calendar</span></a>
	</div>
	<div class="metabox"><h4>collaborate.js</h4>
		<a href="http://barcelona.io" id="barcelonaio" class="collaborator"><span>BarcelonaIO</span></a>
		<a href="http://www.mob-barcelona.com" id="mob" class="collaborator"><span>MOB</span></a>
	</div>
</div>
